a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif
}
html,body {
  padding: 0;
  margin: 0;
}
ul,li{
  margin:0;
  padding:0;
  list-style: none;
}
.clearfix:after {
  /* content: " ";
  display: block;
  clear: both;
  height: 0; */
}
.clearfix {
  /* zoom: 1; */
}
.pull-right{
  float:right
}
.pull-left{
  float:left
}
.color_red{
  color:#ff0000;
}
.el-checkbox__inner,.el-radio__inner{
  border: 1px solid #a2a3a4 !important;
}
/*头部 菜单*/
.el-header.el-header_no_padding{
  padding: 0;
  height: 74px !important;
}
.el-main.el-main_no_padding{
  padding:0;
}
.header {
  /* color: #000;
  font-size: 14px;
  height: 70px;
  line-height: 70px;
  padding: 0px 50px 0 30px;
  -webkit-box-shadow: 0px 1px 11px -4px #000;
  -moz-box-shadow: 0px 1px 11px -4px #000;
  box-shadow: 0px 1px 11px -4px #000;
  box-shadow: 0px 1px 11px -4px #000;
  box-sizing: border-box;
  margin-bottom: 2px; */
}

.header,.menu,.menu .el-menu{
  background: #fff;
}
.menu {
  width: 15%;
  float: left;
  color: #000;
  border-right:1px solid #ccc;
  box-sizing: border-box;
}
.menu .el-menu{
  border-right: 0;
}
.menu .el-submenu .el-submenu__title {
  height: 40px;
  line-height: 40px;
  padding-left: 16px!important;
  color: #000;
  background-color: #fff;
}
.menu .el-menu-item-group__title{
  padding: 0;
}
.menu .el-submenu .el-menu-item,.menu .el-menu-item{
  color: #000;
  padding-left: 50px !important;
  border-right: 2px solid transparent;
}
.menu .el-menu-item.noGroupMenuItem {
  padding-left: 15px !important;
}
.menu .el-submenu__title:hover,
.menu .el-menu-item:focus,
.menu .el-menu-item:hover{
  background: #e0f4ff;
  border-color: #1577fe ;
}
.menu .el-submenu .el-menu-item,.menu .el-menu-item {
  height: 40px;
  line-height: 40px;
  position: relative;
}
.menu .el-menu-item.is-active {
  border-color: #1577fe ;
  background: #e0f4ff;
  color: #1577fe;
}
.content {
  float: inherit;
  background: #ffffff;
}

/*searchBox*/
.base_search_box .el-form-item__content{
  width:60%;
}
.el-form .el-select,
.el-form .el-date-editor.el-input,
.el-form .el-date-editor.el-input__inner,
.base_search_box .el-input,
.base_search_box .el-input__inner,
.base_search_box .el-date-editor.el-input,
.base_search_box .el-date-editor.el-input__inner,
.base_search_box .el-date-editor--timerange.el-input,
.base_search_box .el-date-editor--timerange.el-input__inner,
.el-cascader,
.base_search_box .el-select {width: 100% !important}
.el-button{padding:10px 15px !important;}
.el-form .el-input__inner,base_search_box .el-input__inner{height:36px !important;line-height: 1 !important;}
/*base_btn_group*/
.base_btn_group .el-button {
  padding: 5px 10px !important;
  margin-bottom: 20px;
}
.base_btn_group .el-button.el-button--text{
  margin-bottom: 0;
}
/*table*/
.el-table {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #dfe6ec !important;
}
.el-table td, .el-table th {
  height: 40px;
  min-width: 0;
  padding:0 !important;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: 14px;
  color: #1f2d3d;
}
.el-table th {
  white-space: nowrap;
  overflow: hidden;
  background-color: #eef1f6 !important;
  text-align: left;
}
.el-table__body tr:nth-child(2n){
  background: rgb(224, 245, 213);
}
/* el-dialog */
.el-dialog .el-dialog__body{
  padding-bottom:0;
}
.el-dialog .el-form .el-form-item.dataBut{
  text-align: center;
  padding-top: 20px;
  margin-bottom:0;
}
.el-dialog__header {
  padding: 20px 20px 0 !important;
}
.el-dialog__title {
  line-height: 1 !important;
  font-size: 16px !important;
  font-weight: 700;
  color: #1f2d3d !important;
}
/*el-pagination*/
.el-pagination{
  margin-top:20px;
  text-align:right
}
.el-pagination:after {
  clear:both
}
.el-pagination .el-select .el-input input {
  padding-right:25px;
  border-radius:2px;
  height:28px !important;
  line-height: normal;
}
.el-pagination .btn-next,.el-pagination .btn-prev {
  background:50% no-repeat #fff;
  background-size:16px;
  border:1px solid #d1dbe5;
  cursor:pointer;
  margin:0;
  color:#97a8be
}
.el-pagination .btn-prev {
  border-radius:2px 0 0 2px;
  border-right:0
}
.el-pagination .btn-next {
  border-radius:0 2px 2px 0;
  border-left:0
}
.el-autocomplete-suggestion__wrap,.el-pager li {
  border:1px solid #d1dbe5;
  box-sizing:border-box
}
.el-pager li:hover {
  color:#20a0ff
}
.el-pager li.active {
  border-color:#20a0ff;
  background-color:#20a0ff;
  color:#fff !important;
  cursor:default
}
.el-pagination__editor.el-input .el-input__inner{
  height:28px !important;
  line-height: normal;
}
.el-switch{
  height:22px !important;
}
.el-tag{
  margin-left: 20px;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
/*table_multi 多表头*/
.table_multi .el-table th {
  border-right:1px solid #ddd !important;
  border-bottom:1px solid #dfe6ec !important;
}
.table_multi .el-table td {
  border-bottom:1px solid #dfe6ec !important;
}
/*el-cascader禁用*/
.el-cascader.is-disabled .el-cascader__label{
  cursor: not-allowed !important;
}
.el-cascader.is-disabled .el-cascader__label span{
  color: #b4bccc;
}
/*时间控件删除样式*/
.el-date-editor--daterange {
  position: relative;
}
.el-date-editor--daterange .el-range__close-icon {
  position: absolute;
  top: 1px;
  right: -2px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}